html{
    height: 100%;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:  #333;
    font-size: 1.1rem;
    background: white ;
    line-height: 1.4em;
    margin: 0;

    display: flex;
    min-height: 100%;
    flex-direction: column;
    height: 60em;
    
}
h1{
    line-height: 1.3em;
    font-size: 2rem;
}
p {
    margin-bottom: 1.3em;
}
.example{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.4rem;
   top: 8em;
    width: 35%;
    height: 10em;
    background: #f0f0f0;
    position: absolute;
    z-index: 1;
    float: right;
    padding: 0.8rem 0;
    
    bottom: 5rem;
    right: 4rem;
    color: #333;
    display: flex;
  
}
.wiki{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.4rem;
    top: 15em;
    width: 100%;
    height:11em;
    background: #f0f0f0;
    position: absolute;
    z-index: 1;
    float: right;
    padding: 0.8rem 0;
    
    bottom: 5rem;
    right: 0em;
    color: #333;
    display: flex;
}
.wikiinfo{
    margin-bottom: 1.6em;
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;

}

.wikiinfo a{
    color: #333;
    text-decoration: none;
    
}
.wikiinfo li{
    list-style: none;
    text-decoration: none;
    margin-left: 3em;
}
.wikiinfo li a{
    display: block;
    padding: 0.5rem 1rem;
    transition:  all 0.4s linear;
}
.wikiinfo li a:hover{
    background:  rgb(82, 82, 82);
    color: white;  
}
.exmapleParagraf{
    margin-bottom: 1.6em;
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
   
}
.exmapleParagraf a{
    color: #333;
    text-decoration: none;
   

}
.exmapleParagraf li{
    list-style: none;
    text-decoration: none;
    margin-left: 3em;
   
    

}
.exmapleParagraf li a{
    display: block;
    padding: 0.5rem 1rem;
    transition:  all 0.4s linear;
}
.exmapleParagraf li a:hover{
    background:  rgb(82, 82, 82);
    color: white;  
}

.container{
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    
}
.headerStatic{
    background: rgb(255, 255, 255);
    color: white;
    padding: 1rem 0;
    position: fixed;
    left: 0;
    top: 0rem;
    width: 100%;
    z-index: 2;
}
.headerStatic a{
 color: rgb(75, 75, 75);
 text-decoration: none;
}
.logo-nav-container{
    display: flex;
    justify-content: space-between;
    align-items:  center;
    flex-wrap: wrap;

}
.logo-nav-container img{
    margin-left: 0.5em;
    width: 150px;

}
.navigation ul{
    margin: 0;
    padding: 0;
    list-style: none;  
}
.navigation ul li{
    display: inline-block;
}
.navigation ul li a{
    display: block;
    padding: 0.5rem 1rem;
    transition:  all 0.4s linear;
    
}
.navigation ul li a:hover{
    background:  rgb(82, 82, 82);
    color: white;
}
.Logo{
    letter-spacing: 5px;
    font-size: 1.2em;
}
.menu-icon{
    display: none;
}
.footer{
    background: rgb(238, 238, 238);
  padding: 1.8rem 0;
  text-align:left ;
  margin-top: 3rem;
  margin-top: auto;
  z-index: 3;


}
.main{
    padding-top: 8rem;
    padding-left: 0rem;
    padding-right: 40rem;
}

.accordion{
     max-width: 100%;
}

.accordion .contentbox{

    position: relative;
    margin: 0.5em auto;

}
.accordion .contentbox .label{
    position:relative;
    padding: 0.8rem;
    background:#cac8c8 ;
    cursor: pointer;
    color: #333;


}
.content p a{
    color: #333;
    text-decoration: none;

}
.accordion .contentbox.label ::before{
    content:'+';
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 1.5rem;
}
.accordion .contentbox .content{
    position: relative;
   
    background: #f0f0f0;
    height: 0;
    overflow: hidden;
    translate: 0.5s;
    overflow: auto;
    list-style: none;
    text-decoration: none;

}
.accordion .contentbox.activate .content{
    height: 10em;
    padding: 1.8em;
    min-height: 100%;
}


@media only screen and (max-width: 448px) {
    .navigation{
        width:  100%;
        margin-top: 1rem;
    }
    .navigation ul li{
        display: block;
    }
    .menu-icon{
        display: block;
        cursor: pointer;
        padding: 0.5rem 1rem;
    }
    .navigation ul{
        display: none;
    }
    .navigation ul.show{
        display: block;
    }
    .navigation ul li a{
        display: block;
        padding: 0.5rem 0;
        transition:  all 0.4s linear;
        border-radius: 5px;
    }

}